The problem statement is->

UI/UX Redesign: Note-taking app (Evernote, OneNote, Apple notes). Problem: Bulky UI, Hard-to-find notes, lack of collaboration. Redesign ideas: AI powered summarization & tagging, Voice & handwriting recognition, Real-time collaboration, Mind-map or Kanban-style note organization


Supported below features -

the login/signup page
create a new note button and previously created notes page
share note & invite to colab button
edit/delete note button
taking/uploading a picture
recording/uploading a voice inside a note
create a search note option
seeing notes based on categories
create a mind map of all the notes created so far.